body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin: 20px 0 0;
}

@media screen and (max-width: 991px) {
	.title-logo {
		display: block;
	}

	img, .title-logo {
		margin: 12.5px auto;
	}

	h1, h2, h4 {
		text-align: center;
	}
	
}

